<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/materialize.css">
<title>LocaVeículos</title>
</head>
<body>
	<header>
		<nav>
		    <div class="nav-wrapper">
		      <a href="/"><img style="max-width:90px; max-height:70px; margin: 5px;" src="/img/fox.png"></a>	
		      <a href="/" class="brand-logo">LocaVeículos</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        
		        <li><a href="reservalista">reservas</a></li>
		      </ul>
		    </div>
  		</nav>
	</header>
	<section class="section2" >
	<h3>Cadastro de reserva</h3>
		<form th:action="@{/verifica}" th:object="${temp}" method="post">
			Inicio da reserva: <input type="datetime-local" th:field="*{dataInicio}" > <br>
			Fim da reserva: <input type="datetime-local" th:field="*{dataFim}" > <br>
			
			
			<input class="waves-effect waves-light btn" type="submit" value="Verificar veículos disponiveis">
			<a class="waves-effect waves-light btn" href="/" >Voltar</a>
			
		</form>
		
	</section>
</body>
</html>